/**
 * ============= common css start===============
 *
 * @format
 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
  padding: 0;
}
img {
  vertical-align: middle;
}
a {
  text-decoration: none;
}

// color variables //
// background-color
$primary-bg: #5f021f;
$notice-bg: #221928;
$hero-bg: #ededed;
$btn-hover: rgba($primary-bg, 0.88);
// text-color
$primary-text: #121212;
$white-text: #ffffff;

// common font//
h1 {
  font-size: 4rem;
  @media (max-width: 767.98px) {
    font-size: 2.5rem;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    font-size: 2.8125rem;
  }
}
h4 {
  font-size: 1.4375rem;
}
body {
  font-family: "Open Sans", sans-serif;
}

// navigation block part scss //
#navigation {
  .nav-notice {
    background-color: $notice-bg;
    .notice {
      &-items {
        ul {
          li {
            font-size: 0.875rem;
            border-width: 0.125rem !important;
          }
        }
      }
    }
    .social {
      &-icons {
        a {
          i {
            font-size: 20px;
          }
        }
      }
    }
  }
  .navbar {
    .navbar-brand {
      @media (max-width: 767.98px) {
        width: 75%;
      }
    }
    .navbar-toggler {
      i {
        font-size: 1.5625rem;
      }
    }
    .nav-item {
      .nav-link {
        font-size: 1.25rem;
        font-weight: 600;
        color: $primary-text;
        &:hover {
          color: $primary-bg;
        }
        i {
          color: $primary-text;
          font-size: 1.375rem;
        }
        &.btn {
          height: 46px;
          padding-left: 30px;
          padding-right: 30px;
          font-size: 1rem;
          color: $white-text;
          line-height: 1.7;
          background-color: $primary-bg;
          &:hover {
            background-color: $btn-hover;
          }
        }
      }
      .dropdown-menu {
        .dropdown-item {
          font-weight: 400;
          color: $primary-text;
          font-size: 1.125rem;
          &:active {
            color: $white-text;
            background-color: $primary-bg;
          }
        }
      }
    }
  }
}

// hero block part scss //
#hero {
  background-image: url(https://dummyimage.com/1400x580/ededed/e0e0e0&text=img);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  .hero {
    &-content {
      padding-top: 195px;
      padding-bottom: 195px;
      @media (max-width: 767.98px) {
        padding-top: 100px;
        padding-bottom: 420px;
      }
    }
    &-text {
      .btn {
        font-weight: 700;
        padding: 20px 40px;
        color: $white-text;
        font-size: 1.125rem;
        text-transform: uppercase;
        background-color: $primary-bg;
        &:hover {
          background-color: $btn-hover;
        }
        @media (max-width: 767.98px) {
          line-height: 1;
          padding: 20px 20px 20px 20px;
        }
      }
    }
  }
  .product {
    &-item1 {
      left: -45%;
      bottom: 30px;
    }
    &-item2 {
      right: -20%;
      bottom: 35px;
    }
    &-item3 {
      right: -58%;
      bottom: 30px;
    }
    @media (max-width: 767.98px) {
      &-item2 {
        left: 0%;
        right: 0;
        bottom: 90px;
      }
      &-item3 {
        right: 0%;
        bottom: 30px;
      }
    }
    @media (min-width: 768px) and (max-width: 991.98px) {
      &-item1 {
        left: -50%;
        right: 0;
        bottom: 30px;
      }
      &-item2 {
        right: 0%;
        bottom: 35px;
      }
      &-item3 {
        right: -49%;
        bottom: 30px;
      }
    }
    @media (min-width: 992px) and (max-width: 1199.98px) {
      &-item1 {
        left: -38%;
        bottom: 30px;
      }
      &-item2 {
        right: -2%;
        bottom: 35px;
      }
      &-item3 {
        right: -37%;
        bottom: 30px;
      }
    }
  }
}
